body{
    background: url('http://www.walldevil.com/wallpapers/a83/tumblr-phone-wallpapers-wallpaper.jpg') fixed center center;
    background-size: cover;
}

.jumbotron{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff51e7+0,9d40b7+40,4c024f+100 */
    background: #ff51e7; /* Old browsers */
    background: -moz-linear-gradient(top, #9d40b7 40%, #4c024f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,#9d40b7 40%,#4c024f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,#9d40b7 40%,#4c024f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff51e7', endColorstr='#4c024f',GradientType=0 ); /* IE6-9 */
    color: #fff;
}

#search-title{
    color: #fff;
    padding: 20px;
}

.wrapper{
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
}